* {
  margin: 0;
  padding: 0;
  font-family: "purista", "Sans-serif";
}

::-webkit-scrollbar {
  display: flex;
  width: 5px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #8888887f;
  border-radius: 10px;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
}
body {
  overflow: hidden;
}
