@use "../../Styles/Partials/variables" as *;

.footer {
  border-top: 1px solid $green;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__name {
    border: 1px solid $green;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin-bottom: 2rem;
    &-text {
      color: $green;
    }
  }
  &__socials {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    &-icon {
      img {
        width: 2rem;
      }
    }
  }
  &__created {
    color: $green;
  }
}
