@use "./Styles/Partials/_resets";
@use "./Styles/Partials/_variables" as *;
@use "./Styles/Partials/breakpoints" as *;

.App {
  background: $blue;
}

@include tablet {
  h1 {
    font-size: 3rem;
  }

  h3,
  li {
    font-size: 1.5rem;
  }
  p,
  button,
  input,
  textarea {
    font-size: 1.25rem;
  }
}
